@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/_indicators";

/* Variables
 * ==========
 */

// TODO: would be better to have those variables scoped and not global
:root {
  --unread-messages-bg: var(--color-danger);
  --user-list-text: var(--color-gray);
  --user-list-bg: var(--color-off-white);

  --user-thumbnail-border: var(--color-gray-light);
  --user-thumbnail-text: var(--user-thumbnail-border);

  --voice-user-bg: var(--color-success);
  --voice-user-text: var(--color-white);

  --moderator-text: var(--color-white);
  --moderator-bg: var(--color-primary);

  --sub-name-color: var(--color-gray-light);

  --user-icons-color: var(--color-gray-light);
  --user-icons-color-hover: var(--color-gray);

  --list-item-bg-hover: #dce4ed;
  --item-focus-border: var(--color-blue-lighter);
}

/* classes for extending
 * ==========
 */
%flex-column {
  display: flex;
  flex-flow: column;
}

%no-margin {
  margin: 0;
}

%list-item {
  display: flex;
  flex-flow: row;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;

  [dir="rtl"] & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    @include highContrastOutline();
    background-color: var(--list-item-bg-hover);
  }

  &:active,
  &:focus {
    @include highContrastOutline();
    outline-style: solid;
    background-color: var(--list-item-bg-hover);
    box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border),
      inset 1px 0 0 1px var(--item-focus-border);
  }
}

/* Styling
 * ==========
 */

.userList {
  @extend %flex-column;
  justify-content: flex-start;
  // background-color: var(--user-list-bg);
  color: var(--user-list-text);
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("h2.jpg");
}

.lists {
  @extend %flex-column;
  @extend %no-margin;
  padding: 0;
  padding-top: var(--border-size);
  outline: none;
}

.participantsList {
  padding: 0 0 var(--border-size) var(--border-size);

  [dir="rtl"] & {
    padding: 0 var(--border-size) var(--border-size) 0;
  }
}

.participantsList,
.chatsList {
  @extend .lists;
  overflow-x: hidden;
  flex-shrink: 1;
}

.participants,
.messages {
  flex-grow: 0;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
}

.messages {
  max-height: 30vh;
}

.participants {
  flex-basis: 31rem;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: (var(--lg-padding-x) / 2);
}

.smallTitle {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 var(--sm-padding-x);
  margin: 0 0 (var(--lg-padding-x) / 2) 0;
  color: var(--color-gray);
}

.userListColumn {
  @extend %flex-column;
  min-height: 0;
}

.enter,
.appear {
  opacity: 0.01;
}

.enterActive,
.appearActive {
  opacity: 1;

  :global(.animationsEnabled) & {
    transition: all 600ms;
  }
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0;

  :global(.animationsEnabled) & {
    transition: all 600ms;
  }
}
// added by chata start
.n-sf-feature {
  color: rgb(245, 245, 245);
  background-color: rgb(10, 10, 241);
}
.n-sf-feature-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--image);
}
.n-sf-feature-bg-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-filter: blur(2em);
  -moz-filter: blur(2em);
  -o-filter: blur(2em);
  -ms-filter: blur(2em);
  filter: blur(2em);
  opacity: 0.85;
}
.n-sf-feature-bg-container {
  overflow: hidden;
  position: relative;
  background: #667;
}

.n-sf-feature-container-image,
.n-sf-feature-container-thumb {
  width: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}
.n-sf-feature-container-image {
  margin: 0 20%;
  background-image: var(--image);
}

.n-sf-feature-bg-blur-block {
  overflow: hidden;
  position: relative;
}

.n-sf-feature-bg-blur-block > div {
  z-index: 1;
  position: relative;
  padding: 2em;
}

.n-sf-feature-bg-blur-block:before {
  content: "\0020";
  display: block;
  position: absolute;
  margin: -50em;
  width: calc(100% + 100em);
  height: calc(100% + 100em);
  background-position: center;
  background-image: var(--image);
  box-sizing: border-box;
  -webkit-filter: blur(2em);
  -moz-filter: blur(2em);
  -o-filter: blur(2em);
  -ms-filter: blur(2em);
  filter: blur(2em);
  background-size: cover;
  background-attachment: fixed;
}
.n-sf-feature-footer {
  position: relative;
  margin-bottom: 0;
}
// added by chata end
