@import "../styles.scss";
@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/typography";
@import "/imports/ui/stylesheets/mixins/_indicators";

.chatListItem {
  // cursor: pointer;
  // text-decoration: none;
  // flex-grow: 1;
  // line-height: 0;
  // color: #575454;
  // background-color: #d4d6f1;
  display: flex;
  align-items: center;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: rgba(212, 214, 241, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: none;
  height: 51px;

  // [dir="rtl"] & {
  //   padding-left: 0;
  //   padding-right: var(--lg-padding-y);
  //   margin-left: 0;
  //   margin-right: var(--border-size);
  // }
}

.chatListItemLink {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.chatIcon {
  flex: 0 0 2.2rem;
}

.chatName {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 50%;
  padding-right: var(--sm-padding-y);
}

.chatNameMain {
  @extend %no-margin;
  @extend %text-elipsis;
  font-weight: 400;
  font-size: var(--font-size-small);
  color: var(--color-gray-dark);
  flex-grow: 1;
  line-height: 2;
  text-align: left;
  padding: 0 0 0 var(--lg-padding-y);
  text-overflow: ellipsis;

  [dir="rtl"] & {
    text-align: right;
    padding: 0 var(--lg-padding-y) 0 0;
  }
}

.active {
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border),
    inset 1px 0 0 1px var(--item-focus-border);
}
