@mixin presenterIndicator() {
  &:before {
    opacity: 1;
    top: var(--user-indicators-offset);
    left: var(--user-indicators-offset);
    bottom: auto;
    right: auto;
    border-radius: 50%;
    background-color: #3a46ee;

    [dir="rtl"] & {
      left: auto;
      right: var(--user-indicators-offset);
      letter-spacing: -0.33rem;
    }
  }

  :global(.browser-chrome) &:before,
  :global(.browser-firefox) &:before,
  :global(.browser-edge) &:before {
    padding: var(--indicator-padding);
  }
}

@mixin indicatorStyles() {
  &:after {
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid white;
  }
}

@mixin highContrastOutline() {
  /* Visible in Windows high-contrast themes */
  outline: none;
  outline-style: dotted;
  outline-width: 0px;
}
