@mixin elementFocus($color: var(--color-primary)) {
  &:focus {
    outline: none;
    box-shadow: none;
    border-radius: var(--border-size);
  }
}

@mixin inputFocus($shadow, $color: var(--color-primary)) {
  &:focus {
    outline: none;
    border-radius: var(--border-size);
    box-shadow: none;
  }
}
