:root {
  --color-white: #fff;
  --color-off-white: #f3f6f9;

  --color-black: #000000;
  --color-gray: #4e5a66;
  --color-gray-dark: #06172a;
  --color-gray-light: #8b9aa8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #54a1f3;
  --color-blue-lighter: #92bcea;
  --color-blue-lightest: #e4ecf2;

  --color-primary: #01001d;
  --color-success: #008081;
  --color-danger: #df2721;
  --color-warning: purple;

  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-primary);
  --color-link-hover: #2687ef;

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;
}
