:root {
  // added by sachitha start
  --color-iris-primary: #1f273d;
  --color-iris-secondary: #333e5f;
  --color-iris-third: #7080aa;
  --color-iris-danger: #ff3131;
  --color-iris-success: #41f252;
  --color-iris-blue: #3a46ee;
  // added by sachitha end
  --color-white: #fff;
  --color-off-white: #f3f6f9;

  --color-black: #000000;
  --color-gray: #4e5a66;
  --color-gray-dark: #06172a;
  --color-gray-light: #8b9aa8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #54a1f3;
  --color-blue-lighter: #92bcea;
  --color-blue-lightest: #e4ecf2;

  --color-primary: #0f70d7;
  --color-success: #008081;
  --color-danger: #df2721;
  --color-warning: purple;
  --color-offline: var(--color-gray-light);

  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-primary);
  --color-link-hover: #2687ef;

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;
  --color-tip-bg: #333333;

  --color-white-with-transparency: #ffffff40;

  --loader-bg: var(--color-gray-dark);
  --loader-bullet: var(--color-white);
  --user-list-bg: var(--color-off-white);

  --unread-messages-bg: var(--color-danger);
  --user-list-text: var(--color-gray);

  --user-thumbnail-border: var(--color-gray-light);
  --user-thumbnail-text: var(--user-thumbnail-border);

  --voice-user-bg: var(--color-success);
  --voice-user-text: var(--color-white);

  --moderator-text: var(--color-white);
  --moderator-bg: var(--color-primary);

  --sub-name-color: var(--color-gray-light);

  --user-icons-color: var(--color-gray-light);
  --user-icons-color-hover: var(--color-gray);

  --list-item-bg-hover: #dce4ed;
  --item-focus-border: var(--color-blue-lighter);
}
