%no-margin {
  margin: 0;
}

%flex-column {
  display: flex;
  flex-flow: column;
}

%flex-row {
  display: flex;
  flex-flow: row;
}

%text-elipsis {
  min-width: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%highContrastOutline {
  /* Visible in Windows high-contrast themes */
  outline: none;
  outline-style: dotted;
  outline-width: 0px;
}

%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
