/* 0px, 415px */
/* 416px, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
:root {
  --toolbar-margin: .8rem;
  --toolbar-box-shadow: 0 0 10px -2px rgba(0, 0, 0, .25);
  --toolbar-button-color: var(--btn-default-color);
  --toolbar-button-bg: var(--btn-default-bg);
  --toolbar-button-width: 3rem;
  --toolbar-button-height: 3rem;
  --toolbar-button-font-size: 1.75rem;
  --toolbar-button-border: 1px;
  --toolbar-button-border-radius: 5px;
  --toolbar-button-border-color: var(--color-gray-lighter);
  --toolbar-list-bg: #ddd;
  --toolbar-list-bg-focus: #c6c6c6;
  --toolbar-list-color: var(--color-gray);
  --toolbar-item-outline-offset: -.19rem;
  --toolbar-item-triangle-padding: 2px;
}

.toolbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 var(--toolbar-margin) 0 0;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: 0;
  pointer-events: none;
  z-index: 3;
}

[dir="rtl"] .toolbarContainer {
  margin: 0 0 0 var(--toolbar-margin);
  right: auto;
  left: 0;
}

@media only screen and (orientation: landscape) and (max-height: 40em), only screen and (max-width: 40em) {
  .toolbarContainer {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.toolbarWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: var(--toolbar-box-shadow);
          box-shadow: var(--toolbar-box-shadow);
  border-radius: var(--toolbar-button-border-radius);
  pointer-events: all;
}

.toolbarWrapper .buttonWrapper > .toolbarButton {
  outline-offset: var(--toolbar-item-outline-offset);
  border-bottom: var(--toolbar-button-border) solid var(--toolbar-button-border-color);
}

.toolbarWrapper .buttonWrapper:first-child > .toolbarButton {
  border-top-left-radius: var(--toolbar-button-border-radius);
  border-top-right-radius: var(--toolbar-button-border-radius);
}

.toolbarWrapper .buttonWrapper:first-child > .toolbarButton.toolbarActive {
  border-top-left-radius: 0;
  border-top-right-radius: var(--toolbar-button-border-radius);
}

[dir="rtl"] .toolbarWrapper .buttonWrapper:first-child > .toolbarButton.toolbarActive {
  border-top-left-radius: var(--toolbar-button-border-radius);
  border-top-right-radius: 0;
}

.toolbarWrapper .buttonWrapper:last-child > .toolbarButton {
  border-bottom: 0;
  border-bottom-left-radius: var(--toolbar-button-border-radius);
  border-bottom-right-radius: var(--toolbar-button-border-radius);
}

.toolbarWrapper .buttonWrapper:last-child > .toolbarButton.toolbarActive {
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--toolbar-button-border-radius);
}

[dir="rtl"] .toolbarWrapper .buttonWrapper:last-child > .toolbarButton.toolbarActive {
  border-bottom-left-radius: var(--toolbar-button-border-radius);
  border-top-right-radius: 0;
}

.buttonWrapper {
  width: var(--toolbar-button-width);
  min-width: var(--toolbar-button-width);
  height: var(--toolbar-button-height);
  min-height: var(--toolbar-button-height);
  position: relative;
}

.cornerTriangle::before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
  z-index: 2;
  border-radius: 0;
  border-width: 0.35em;
  bottom: var(--toolbar-item-triangle-padding);
  left: var(--toolbar-item-triangle-padding);
  border-left-color: var(--toolbar-list-color);
  border-bottom-color: var(--toolbar-list-color);
}

[dir="rtl"] .cornerTriangle::before {
  left: auto;
  right: var(--toolbar-item-triangle-padding);
  border-left-color: transparent;
  border-right-color: var(--toolbar-list-color);
}

.toolbarButton {
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  z-index: 1;
  font-size: var(--toolbar-button-font-size);
  color: var(--toolbar-button-color);
  background-color: var(--toolbar-button-bg);
  border-color: var(--toolbar-button-border-color);
}

.toolbarButton:focus, .toolbarButton:hover {
  border: 0;
}

.toolbarButton i {
  color: var(--toolbar-button-color);
}

.toolbarButton.toolbarActive {
  background-color: var(--toolbar-list-bg);
}

.toolbarButton.toolbarActive i {
  color: var(--toolbar-list-color);
}

.toolbarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: var(--toolbar-button-height);
  position: absolute;
  right: var(--toolbar-button-height);
  left: auto;
  top: 0;
  -webkit-box-shadow: var(--toolbar-box-shadow);
          box-shadow: var(--toolbar-box-shadow);
}

[dir="rtl"] .toolbarList {
  right: auto;
  left: var(--toolbar-button-height);
}

.toolbarList .buttonWrapper:first-child > .toolbarListButton {
  border-top-left-radius: var(--toolbar-button-border-radius);
  border-bottom-left-radius: var(--toolbar-button-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[dir="rtl"] .toolbarList .buttonWrapper:first-child > .toolbarListButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--toolbar-button-border-radius);
  border-bottom-right-radius: var(--toolbar-button-border-radius);
}

.toolbarListButton {
  width: var(--toolbar-button-width);
  height: var(--toolbar-button-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--toolbar-button-font-size);
  background-color: var(--toolbar-list-bg);
  border: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: initial;
  outline-offset: var(--toolbar-item-outline-offset);
}

.toolbarListButton:hover, .toolbarListButton:focus {
  background-color: #bbb;
}

.toolbarListButton i {
  color: var(--toolbar-list-color);
}

.toolbarListButton svg {
  fill: var(--toolbar-list-color);
}

.selectedListButton {
  background-color: var(--toolbar-list-color) !important;
}

.selectedListButton i {
  color: var(--toolbar-list-bg-focus) !important;
}

.selectedListButton svg {
  fill: var(--toolbar-list-bg-focus);
}

.customSvgIcon {
  position: absolute;
  width: var(--toolbar-button-width);
  height: var(--toolbar-button-height);
  left: 0;
  top: 0;
}

.textThickness {
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-shadow: -1px 0 var(--toolbar-list-bg-focus), 0 1px var(--toolbar-list-bg-focus), 1px 0 var(--toolbar-list-bg-focus), 0 -1px var(--toolbar-list-bg-focus);
  margin: auto;
  color: var(--toolbar-list-color);
}

.multiUserTool {
  background-color: var(--color-danger);
  border-radius: 50%;
  width: var(--lg-padding-x);
  height: var(--lg-padding-x);
  position: absolute;
  z-index: 2;
  right: 0px;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px var(--border-size-large) var(--color-gray-dark);
          box-shadow: 1px 1px var(--border-size-large) var(--color-gray-dark);
  font-size: var(--sm-padding-x);
}

.multiUserToolItem .toolbarButton {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
/*# sourceMappingURL=styles.css.map */