@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

:root {
  --toast-content-width: 98%;
  --toast-font-size: 80%;
  --toast-content-margin-sm: 0.4rem;
  --toast-content-margin-md: 1.4rem;
}

@mixin lineClamp($lineHeight: 1em, $lineCount: 1) {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lineHeight;
  max-height: calc(#{"$lineHeight * $lineCount"});
}

.chat {
  background-color: rgba($color: #d9d9d9, $alpha: 0.5);
  background: linear-gradient(
      rgba(217, 217, 217, 0.5) 100%,
      rgba(217, 217, 217, 0.5) 100%
    ),
    url("chat.jpg");

  //aded by chata
  // position: absolute;
  // box-sizing: content-box;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  cursor: default;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(217, 217, 217, 0.5);
  border-bottom-color: rgba(112, 112, 112, 0.5);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 0.5);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 0.5);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 0.5);
  border-top-style: none;
  border-top-width: 1px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  box-shadow: none;
  // width: 506px;
  height: calc(100vh-20px);
  // left: 384px;
  top: 0px;
  //added by chata

  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;

  // padding: var(--md-padding-x) var(--md-padding-y) var(--md-padding-x)
  //   var(--md-padding-x);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  //

  :global(.browser-chrome) & {
    transform: translateZ(0);
  }

  @include mq($small-only) {
    transform: none !important;
  }
}

.header {
  position: relative;
  top: var(--poll-header-offset);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  @extend %text-elipsis;
  flex: 1;

  & > button,
  button:hover {
    max-width: var(--toast-content-width);
  }
}

.hideBtn {
  position: relative;
  background-color: transparent;
  display: block;
  margin: var(--border-size-large);
  margin-bottom: var(--border-size);
  padding-left: 0;
  padding-right: inherit;
  color: rgba(68, 68, 68, 1) !important;
  letter-spacing: 0.68px;
  color: rgba(68, 68, 68, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: Calibri, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 0;
  }

  > i {
    color: rgba(214, 205, 212, 1);
    font-size: smaller;
    font-weight: 700;
    ss [dir="rtl"] & {
      -webkit-transform: scale(-1, 1);
      -moz-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }

  &:hover {
    background-color: transparent;
  }
}

.link {
  text-decoration: none;
  background-color: inherit;
}

.pushMessageContent {
  margin-top: var(--toast-content-margin-md);
  margin-bottom: var(--toast-content-margin-sm);
  margin-left: var(--toast-content-margin-sm);
  margin-right: var(--toast-content-margin-sm);
  background-color: inherit;
  width: var(--toast-content-width);
}

.userNameMessage {
  margin: 0;
  font-size: var(--toast-font-size);
  color: var(--color-gray-dark);
  font-weight: bold;
  background-color: inherit;
  @include lineClamp(1em, 1);
}

.contentMessage {
  margin-top: var(--border-radius);
  font-size: var(--toast-font-size);
  background-color: inherit;
  @include lineClamp(var(--font-size-small), 10);
}
