@import "/imports/ui/stylesheets/variables/_all";

:root {
  --systemMessage-background-color: #f9fbfc;
  --systemMessage-border-color: #c5cdd4;
}

.item {
  font-size: var(--font-size-base);
  margin-bottom: var(--line-height-computed);

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
  position: relative;
  margin: var(--border-size) 0 0 var(--border-size);

  [dir="rtl"] & {
    margin: var(--border-size) var(--border-size) 0 0;
  }
}

.systemMessage {
  color: rgba(87, 84, 84, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: Calibri, Arial;
  letter-spacing: 0.18000000000000002;
  text-decoration: none;
  background: rgba($color: #ffffff, $alpha: 0.4);
  border: 1px solid var(--systemMessage-border-color);
  border-radius: 10px;
  font-weight: var(--btn-font-weight);
  padding: var(--font-size-base);
  margin-bottom: var(--line-height-computed);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 10px;
}

.avatarWrapper {
  flex-basis: 2.25rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 calc(var(--line-height-computed) / 2) 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 calc(var(--line-height-computed) / 2);
  }
}

.avatar {
  font-size: 0.85rem;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1607843137254902));
  font-weight: 700;
  font-style: normal;
  font-family: Calibri, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  width: calc(100% - 1.7rem);
  margin-right: 8px;
}

.meta {
  display: flex;
  flex: 1;
  flex-flow: row;
  line-height: 1;
  letter-spacing: 0px;
  opacity: 0.7;
  color: rgba(232, 232, 232, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-family: Calibri, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  & + .message {
    margin-top: 0;
  }
}

.name,
.logout {
  display: flex;
  min-width: 0;
  font-weight: 400;
  position: relative;

  :first-child {
    @extend %text-elipsis;
  }
}

.logout {
  text-transform: capitalize;
  font-style: italic;

  & > span {
    text-align: right;
    padding: 0 0.1rem 0 0;

    [dir="rtl"] & {
      text-align: left;
      padding: 0 0 0 0.1rem;
    }
  }
}

.offline {
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  font-size: 90%;
  line-height: 1;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  text-transform: uppercase;
  font-size: 75%;
  margin: 0 0 0 calc(var(--line-height-computed) / 2);

  [dir="rtl"] & {
    margin: 0 calc(var(--line-height-computed) / 2) 0 0;
  }

  > span {
    vertical-align: sub;
  }
}

.messages {
  > .message:first-child {
    margin-top: calc(var(--line-height-computed) / 4);
  }
}

.message,
.hyperlink {
  flex: 1;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  word-wrap: break-word;
  // added by chata start
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 20px;
  padding: var(--font-size-base);
  text-align: left;
  letter-spacing: 0px;
  color: rgba(87, 84, 84, 1);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: Calibri, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  //added by chata end
}

.hyperlink {
  a {
    color: var(--color-primary);
  }
}
